Clustername:	{{ clustername }}
image flavor:	{{ imageflavor }}
Password:	{{ password }}
etcdver:	{{ etcdver }}
flannelver:	{{ flannelver }}
VIP1:		{{ floatingip1 }}
Cluster cidr:	{{ subnetcidr }}
podcidr:	{{ podcidr }}
Dnsserver:	{{ dnsserver }}
Nodes:		{{ nodes }}
sshkey:		{{ rsakey }}
keypair:	{{ keypair }}
