Clustername:	{{ clustername }}
Cluster cidr:	{{ subnetcidr }}
Password:	{{ password }}
Nodes:		{{ nodes }}
image flavor:	{{ imageflavor }}
VIP1:		{{ floatingip1 }}
Dnsserver:	{{ dnsserver }}
podcidr:	{{ podcidr }}
flannelver:	{{ flannelver }}
etcdver:	{{ etcdver }}
sshkey:		{{ rsakey }}
keypair:	{{ keypair }}
